.footer {
    display: flex;
    flex-wrap: wrap;  
}
.footer__nav{
    flex: 0 0 70%;
    @extend .header;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
  }
.footer__socail-icons {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
    a{
        padding-left: 15px;
        color: white;
    }
}
.footer__heading{ 
    flex: 0 0 100%;
  
}