@import '../shared/_variables.scss';
@import '../shared/inheritance/extends.scss';

.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  &__div__h1 {
    font-size: 32px;
    line-height: 2;
  }
  input[type="email"] {
    background: transparent;
    border: none;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    height: 25px;
    text-align: center;
  }
}
  .subscribe-section__line {
    height: 1px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 5rem;
    animation-name: stretch;
    animation-duration: 2.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    margin: 0 auto;
  }
  @keyframes stretch {
    0% {
      transform: scale(.8);
      background-color: #ccc;
      }

    100% {
    background-color: #ccc;
    }
}



